.sign_up{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.head{
    font-size: 60px;
    font-weight: 400;
    color: #fff;
   padding: 20% 22%;
   line-height: 1.5;
}
.head::first-letter{
    background: #ff8577;
    color: #fff;
    border-radius: 70px;
    padding: 50px 0px 20px 90px;
}
.head span{
     margin-left: 88px;
}
._custom{
    background: #ffffff5c ;
    /* height: 100vh; */
    width: 100%;
    padding: 100px 50px;
    margin:0 auto;
    border-radius:50px;
}
.example-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .log{
      margin: 0 auto;
      background-image: linear-gradient(to right bottom, #ff8678, #fc7e73, #f8766e, #f56e69, #f16665);
  }
  .text-center{
    text-align: center;
  }