
<mat-grid-list cols="8" rowHeight="100vh">
    <mat-grid-tile [colspan]="3">
        <!-- <h1 class="head"> Welcome You! <span>Find me with </span><span>some details</span></h1> -->
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="2">
        <mat-card class="example-card _custom">
            <form [formGroup]="loginForm" *ngIf="!show">
                <mat-card-title>
                    <h3 class="sign_up">Login</h3>
                </mat-card-title>
            <mat-card-content>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" formControlName="email" required >
                
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input"  formControlName="first_name" placeholder="Enter Your First Name">
                    </mat-form-field>

                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input"  formControlName="last_name" placeholder="Enter Your Last Name">
                    </mat-form-field>

                </div> -->
            
                <div class="example-container">
                <button mat-flat-button color="primary" class="log" (click)="login()">Login</button>
                <!-- <button mat-flat-button color="primary" class="log" (click)="SignUp()">SignUp</button> -->
                </div>
               <div class="text-center"> (OR)</div>
                <div class="example-container">
                        <button mat-flat-button color="primary" class="log" (click)="SignUp()">Create An Account</button>
                        </div>
            </mat-card-content>
        </form>
        <form [formGroup]="signForm"  *ngIf="show">
                <mat-card-title>
                    <h3 class="sign_up">SignUp</h3>
                </mat-card-title>
            <mat-card-content>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" formControlName="email" required >
                
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Enter your password" formControlName="confirm_password" [type]="hide ? 'password' : 'text'" >
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input"  formControlName="first_name" placeholder="Enter Your First Name">
                    </mat-form-field>

                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input"  formControlName="last_name" placeholder="Enter Your Last Name">
                    </mat-form-field>

                </div>
            
                <div class="example-container">
                <button mat-flat-button color="primary" class="log" (click)="Back()">Sign Up</button>
                <!-- <button mat-flat-button color="primary" class="log" (click)="SignUp()">SignUp</button> -->
                </div>
               
            </mat-card-content>
        </form>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
        <!-- <h1 class="head"> Welcome You! <span>Find me with </span><span>some details</span></h1> -->
    </mat-grid-tile>
</mat-grid-list>