<mat-grid-list cols="2" rowHeight="20vh">
    <mat-grid-tile class="sign_up">
        Create an account
    </mat-grid-tile>
    <mat-grid-tile class="sign_up">
        Login
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="70vh">
    <mat-grid-tile [colspan]="2">
        <h1 class="head"> Welcome You! <span>Find me with </span><span> details</span></h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card _custom">
            <mat-card-content>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" [formControl]="email" required MatFormFieldControl>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'" MatFormFieldControl>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input" MatFormFieldControl [formControl]="first_name">
                    </mat-form-field>

                </div>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input" MatFormFieldControl [formControl]="last_name">
                    </mat-form-field>

                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>